.jumbotron{
    background-color:#EFECE6;
}

.material-icons{
    font-size: 50px;
    cursor: pointer;
}

.vs{
    color:#5cb85c;
}

.s{
    color:#0275d8;
}

.d{
    color:#f0ad4e
}

.vd{
    color: #d9534f;
}

.btn{
    background-color:white;
    border-color: #DDD;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

