<app-topo></app-topo>

<div class="container-fluid" role="main">
  <div class="jumbotron mt-3">
    <h1 class="text-center">Pesquisa de satisfação</h1>
    <hr class="my-4">

    <div *ngIf="exibirQuestao1">
      <div class="row mt-2">
        <div class="col-sm-12">
          <p class="lead">Qual seu grau de satisfação com o atendimento ?</p>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-3"><i class="material-icons vs" (click)="MarcarSatisfacao(3)">sentiment_very_satisfied</i></div>
        <div class="p-3"><i class="material-icons s" (click)="MarcarSatisfacao(2)">sentiment_satisfied</i></div>
        <div class="p-3"><i class="material-icons d" (click)="MarcarSatisfacao(1)">sentiment_dissatisfied</i></div>
        <div class="p-3"><i class="material-icons vd" (click)="MarcarSatisfacao(0)">sentiment_very_dissatisfied</i>
        </div>
      </div>
    </div>

    <div *ngIf="exibirQuestao2">
      <div class="row mt-2">
        <div class="col-sm-12">
          <p class="lead">Qual a chance de você indicar a loja para um amigo ou parente ?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn-group flex-wrap">
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(0)">0</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(1)">1</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(2)">2</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(3)">3</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(4)">4</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(5)">5</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(6)">6</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(7)">7</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(8)">8</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(9)">9</button>
            <button type="button" class="btn" (click)="MarcarChanceIndicacao(10)">10</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="exibirAgradecimento">
      <h1 class="text-center">Obrigado!</h1>
    </div>


  </div>
</div>

<router-outlet></router-outlet>
